<h1>Test Java Atos</h1>
<h3>Filtro</h3>
<form [formGroup]="skillsForm" (ngSubmit)="onAddSkill()">
    <label for="skill">Skill: </label>
    <input
      type="text"
      id="skill"
      formControlName="skill"
      class="form-control">
  <button class="btn btn-primary" type="submit">Adicionar</button>
</form>

<h3>Filtros adicionados</h3>
<div>
  <ul>
    <li *ngFor="let skill of skillsOnFilter">
      {{skill}} - <a class="deleteSkill" (click)="removeSkill(skill)">
      <span class="glyphicon">&#xe020;</span>
    </a>
    </li>
  </ul>
</div>


